# Sampling Notebook

Melakukan sampling pada data hasil scraping.

## Load Library

Import library yang akan digunakan.

In [1]:
import os
import pandas as pd

## Load Dataset

Load data twitter hasil scraping ke memmory.

In [2]:
list_data = [ 'januari-2021.csv', 'februari-2021.csv', 'maret-2021.csv',
              'april-2021.csv', 'mei-2021.csv', 'juni-2021.csv',
              'juli-2021.csv', 'agustus-2021.csv', 'september-2021.csv',
              'oktober-2021.csv', 'november-2021.csv', 'desember-2021.csv' ]

local = "../data/"
if os.path.isdir(local):
    main_dir = local
else:
    main_dir = "https://raw.githubusercontent.com/Hyuto/skripsi/master/data/"

**Menggabungkan Data**

Menggabungkan semua data menjadi satu dataframe

In [3]:
data = pd.concat([pd.read_csv(f"{main_dir}{x}") for x in list_data])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 371389 entries, 0 to 15903
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   date     371389 non-null  object
 1   url      371389 non-null  object
 2   user     371389 non-null  object
 3   content  371389 non-null  object
dtypes: object(4)
memory usage: 14.2+ MB

## Data Preprocessing

Preprocess data yang akan digunakan.

In [4]:
data["date"] = pd.to_datetime(data["date"])
data.drop_duplicates("content", inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364011 entries, 0 to 15903
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   date     364011 non-null  datetime64[ns, UTC]
 1   url      364011 non-null  object
 2   user     364011 non-null  object
 3   content  364011 non-null  object
dtypes: datetime64[ns, UTC](1), object(3)
memory usage: 13.9+ MB

## Sampling

Melakukan sampling terhadap data.

In [5]:
sample = data.sample(5000, random_state=2022)
sample = sample[["date", "url", "content"]]
sample.head()

,date,url,content
11675,2021-05-19 07:32:21+00:00,https://twitter.com/PolresPklKota/status/13949...,Personel Dalmas Sat Sabhara Polres Pekalongan ...
2165,2021-12-28 03:35:03+00:00,https://twitter.com/lled_y7/status/14756716122...,Kujaga Prokes\r\ntetap terpapar covid.\r\nKuik...
37558,2021-09-02 01:09:24+00:00,https://twitter.com/athutuh/status/14332355767...,Berbagai macam jenis vaksin telah diberikan ol...
50086,2021-07-07 06:48:46+00:00,https://twitter.com/hudori_m/status/1412664871...,@radjadjawa klo saya kacamata awam saja.. mere...
7502,2021-09-23 00:07:17+00:00,https://twitter.com/JaPenWPKL/status/144083008...,Sistem giliran ini bagi mengelak kesesakan di ...

## Export

Export data yang telah di sampling.

In [6]:
os.makedirs("../output", exist_ok=True)
sample.to_csv("../output/sample-data.csv", index=False)